#me{
    text-align: center;
    font-size: medium;
    font-family: monospace;
    font-weight: bolder;
    
  }
  .paragraph{
      text-align: center;
      padding-left: 200px;
      padding-top: 50px;
      font-size: medium;
      font-family: monospace;
      font-weight: bolder;
  }

  .image{
    width: 40%;
    padding-left: 20px;
    padding-top: 20px;
  }

  .inline-images {
    display: inline-block;
  }
 
  nav{
    background-color: black;
    justify-content: center;
    display:flex;
  }

  nav a{
    color: white;
    text-align: center;
    font-size: medium;
    padding: 10px 15px;
    text-decoration: none;
  }

  nav a:hover{
    background-color: dimgrey;
  }

  .skills{
    padding: 100px;
    text-align: center;
    font-size: medium;
    font-family: monospace;
    font-weight: bolder;
  }

  #writing{
    padding: 100px;
    text-align: center;
    font-size: medium;
    font-family: monospace;
    font-weight: bolder;
  }

  #class{
    padding: 100px;
  }
    
  .heading{
    text-align: center;
    background-image:url(images/image9.jpg);
  }

  #myhobbies{
    text-align: center;
  }

  #myskills{
    text-align: center;
    font-size:larger;
    font-family: monospace;
    font-weight: bolder;
  }

  #picture{
    text-align: center;
    font-size: medium;
    font-family: monospace;
    font-weight: bolder;
  }
#hobbies{
  text-align: center;
  font-size: medium;
  font-family:cursive
}

#hobbie{
  text-align: center;
  font-size: medium;
  font-family:cursive
}